@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');
:root
{
    /* Defaults */
    font-size: 62.5%;

    /* Variables */
    --font-medium : 500;
    --font-large : 700;
}

body
{
    font-family: 'Rubik', sans-serif;
    font-weight: var(--font-medium);
}

.navbar-brand
{
    font-size: 4rem;
    font-weight: var(--font-large);
}

.nav-item
{
    font-size: 3rem;
}

/* Main */
.about-us-title
{
    font-size: 4rem;
    font-weight: var(--font-large);
    text-align: center;
}

.about-us
{
    margin-bottom: 5rem;
}

.img-about
{
    min-height: 75rem;
    height: 75rem;
    width: 50vw;
    background-color: black;
    position: relative;
}

.img-about .image
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}

.img-about .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    background-image: url(/img/carousel-image-3.webp);
}

.text
{
    font-size: 2rem;
}

.administrators-title
{
    font-size: 4rem;
    font-weight: var(--font-large);
    text-align: center;
}

.profile
{
    width: 20rem;
    height: 30rem;
    text-align: center;
}

.icon
{
    width: 20rem;
    height: 20rem;
    background-color: gray;
    border-radius: 100%;
    background-image: url(/img/User.png);
    background-position: center;
    background-size: cover;
}

.name
{
    font-size: 2.5rem;
    font-weight: var(--font-large);
}


/* Footer */

.social-text
{
    font-size: 2rem;
    font-weight: var(--font-medium);
}

.company-name
{
    font-size: 2rem;
}

.company-description
{
    font-size: 1.4rem;
}

.useful-links-title
{
    font-size: 2rem;
    font-weight: var(--font-large);
}

.useful-link
{
    text-decoration: none;
    font-size: 1.4rem;
}

.contact-title 
{
    font-size: 2rem;
    font-weight: var(--font-large);
}

.contact-text-location
{
    font-size: 1.4rem;
    font-weight: var(--font-large);
    margin-left: 1rem;
    padding-top: 1rem;
}

.contact-text-gmail
{
    font-size: 1.4rem;
    font-weight: var(--font-large);
    margin-left: 1rem;
    padding-top: 1rem;
}

.contact-text-call
{
    font-size: 1.4rem;
    font-weight: var(--font-large);
    margin-left: 1rem;
    padding-top: 1rem;
}

.copyright-text
{
    font-size: 1.1rem;
    font-weight: var(--font-large);
}

@media screen and (max-width: 1200px)
{
    .img-about
    {
        width: 100vw;
    }
}